@import "tailwindcss";

@layer components {
  .layout {
    @apply overflow-hidden w-full  mx-auto px-12 lg:px-15 xl:px-25 2xl:px-38;
  }
}
/**overflow-hidden w-full  mx-auto px-0  md:px-4 lg:px-8 xl:px-16 2xl:px-40;**/